body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.registerinput input::placeholder{
  color: white !important;
  opacity: 1 !important;
}

.registerinput div{
  border-radius: 15px !important;
}

.registerinput input{
  text-align: center !important;
  color: white !important;
  font-size: 25px !important;
  border: 'none';
  padding: 20px !important;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 20px;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin-top: 1em;
  color: #696969;
}

.form-control input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #5252ff;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.form-control input[type="checkbox"]::before {
  content: "";
  width: 1em;
  height: 0.8em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #5252ff;
  transform-origin: bottom left;
  clip-path: polygon(10% 44%, 0 50%, 30% 100%, 100% 10%, 90% 0%, 33% 72%);
  margin-left:7px;
  margin-bottom:5px;
}

.form-control input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.mainlayout{
  padding: 5px
}

@media all and (min-width: 480px) {
  .ResetPassword {
    padding: 60px 0;
  }

  .ResetPassword form {
    margin: 0 auto;
    max-width: 320px;
  }

  .ResetPassword .success {
    max-width: 400px;
  }
}

.ResetPassword .success {
  margin: 0 auto;
  text-align: center;
}
.ResetPassword .success .glyphicon {
  color: grey;
  font-size: 30px;
  margin-bottom: 30px;
}

.react-pdf__Document {
  max-height: 730px;
  height: 100%;
  overflow: auto;
}

.react-pdf__Page {
  margin-top: 10px;
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
}

.react-pdf__Page__canvas {
  width: 100% !important;
}

.react-pdf__Page__textContent {
  width: 100% !important;
}